<div class="div1" style="border: solid; height:20vh;width:60vw;display: grid; place-items: center;">
    <P>問卷名稱:<input  [(ngModel)]="inputData" placeholder="表單名稱"><button (click)="search()">搜尋</button>
    </P>
    
    <P>統計時間:<input type="date" id="date" min="2024-11-07" [(ngModel)]="startDate">到
      <input type="date" id="date" min="2024-11-08" [(ngModel)]="endDate"></P>
  </div>
  <div class="div2">
    <mat-icon aria-hidden="false" aria-label="delete icon" fontIcon="delete" (click)="delete()"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="add icon" fontIcon="add" (click)="add()"></mat-icon>
     <table mat-table [dataSource]="dataSource"> 
  
      <!--checkBox. Column -->
      <ng-container matColumnDef="checkBox">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <input type="checkbox" (change)="check($event)" [(ngModel)]="element.checkBox"> 
            </td> 
      </ng-container>
      <!--NO. Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>編號 </th>
        <td mat-cell *matCellDef="let element">
           {{element.id}} </td> 
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 問卷名稱 </th>
        <td mat-cell *matCellDef="let element"> 
          <a href="http://localhost:4200/addlist1" (click)="getQuizById($event)">{{element.name}}</a> 
        </td>
      </ng-container>
  
      <!-- ispublish Column -->
      <ng-container matColumnDef="ispublish">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let element"> {{element.ispublish}} </td>
      </ng-container>
  
      <!-- startDate Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> 開始時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>
  
      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>
  
      <!-- result Column -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> 統計結果 </th>
        <td mat-cell *matCellDef="let element">
          <a href="http://localhost:4200/statisics" (click)="getStastisticById(element.id,$event)">{{element.result}}</a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
   <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator> 
  <!-- <button (click)="delete()">刪除</button> -->
  </div>
  
