<div class="list">
    <div class="title" style="text-align: center ">
    <h2>{{name}}</h2>    
    </div>
    
    <div class="top" >
        <p>問卷簡介</p>
        <div style="text-align: center ">
            <textarea style="resize: none;width: 98%;height: 10vh;">{{description}}</textarea>
        </div>    
    </div>
    
    <div class="personal" >
        <label>個人資料</label>
         <hr style="border: 1px solid #333;"> 
        <form [formGroup]="form">
        <label>*姓名</label>
        <input   formControlName="name">
        <label>*手機</label>
        <input   formControlName="phone">
        <label>*email</label>
        <input   formControlName="email">
        <label>年齡</label>
        <input  formControlName="age">
    </form>
    </div >
    @for(data of this.quesList;track $index){
        <label>{{data.quesId}} {{data.name}}</label>
        <hr style="border: solid;color: #333;">
        @if(data.type=='text'){
            <div>
                <p>{{data.quesName}}</p>
                <textarea style="width:200px;height:50px" ></textarea>
                </div>
        }
        @if(data.type=='multi'){
        <div>
            <p>{{data.quesName}}</p>
            @for(option of data.options;track $index){
                <input type="checkbox" >
            {{option.optionName}}
            }
        </div>
    } @if(data.type=='single'){
        <div class="question">
            <p>{{data.quesName}}</p>
            @for(option of data.options;track $index){
                <input type="radio" name="data1"  >
            {{option.optionName}}
            }    
        </div>
     }
    }
    <div class="button1" >
        <button (click)="goback()">返回</button>
        <button (click)="save()">儲存</button>
        <button (click)="saveAndPublish()">儲存並發布</button>
    </div>
